---
BasedOnStyle: Mozilla
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Stroustrup
ColumnLimit: 80
IncludeBlocks: Preserve
Language: Cpp
SortIncludes: true
TabWidth: 4
UseTab: Never

...
